<footer id="contacts-section">
    <div class="container-footer">
        <div class="footer-contacts-section">
            <div class="footer-contacts-social">
                <a class="social-button big facebook" href="https://www.facebook.com/auradecor.bigflowers/" title="AURA Decor Facebook" alt="AURA Decor Facebook" target="_blank"></a>
                <a class="social-button big instagram" href="https://www.instagram.com/auradecor_bigflowers/" title="AURA Decor Instagram" alt="AURA Decor Instagram" target="_blank"></a>
                <a class="social-button big mailto" href="mailto:info@aura.flowers" title="AURA Decor Mail" alt="AURA Decor Mail" target="_blank"></a>
                <a class="social-button big viber" href="viber://chat?number=+421905946443" title="AURA Decor Viber" alt="AURA Decor Viber"></a>
                <a class="social-button big whatsup" href="https://wa.me/421905946443" title="AURA Decor Whatsup" alt="AURA Decor Whatsup" target="_blank"></a>
                <a href="https://www.sashe.sk/AuraDecor.Flowers" title="AURA Decor on sashe.sk" alt="AURA Decor Whatsup" target="_blank"><img class="sashe-image" src="img/sashe.png"/></a>
            </div>
            <h1>@Localizer["footer-title"]</h1>
            <a class="button md-trigger" data-modal="modal-12">@Localizer["footer-modal-button"]</a>
            <input type="hidden" value="0" />
        </div>

        <div class="footer-contacts-section-address">
            <h2>Bratislava <br><span>+421 905 946 443</span></h2>
            <h2>Muchovo námestie 3<br><span>85 101 Bratislava</span></h2>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d665.7548727817319!2d17.115043288147334!3d48.12914749869507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c8917779ae8af%3A0x595a3c970d7a6f76!2sAura!5e0!3m2!1sru!2ssk!4v1571078851769!5m2!1sru!2ssk"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</footer>

<footer class="footer-company">
    <div class="container">
        <div>
            2019 © <b>AURA.Flowers</b>, @Localizer["footer-company-text"] <a href="https://i-feature.net">i-feature</a>
        </div>
        <div class="footer-company-data">
            Mikhail Timonin - SvetTima.<br /> Drieňová 16940/1H. 82101 Bratislava. Slovakia. <br />IČO 50261380 | DIČ 3120120784 | IČ DPH SK3120120784.
        </div>
    </div>
</footer>