<header class="head-banner" id="header-section">
    <div class="container-header">
        <hr class="header-line">
        <h1>AURA</h1>
        <h2>@Localizer["header-sub-logo-text"]</h2>
        <a class="scroll-to button-header" id="getting-started-button" href="#about-us-section">@Localizer["header-start-button"]</a>
    </div>
</header>